<h1>
  Principe d'une méthode d'extraction.
</h1>
<p>
  Les Haps étant des molécules présentent en très forte proportion dans la terre (sédiment), plusieurs méthodes
  d'extractions ont été réalisés afin de permettre l'étude de ces éléments. Une méthode en particulier est 
  utilisé pour l'étude de ces composés.L'extraction à l'ASE 350.
</p>
<p>
  L’extracteur ASE 350 de Dionex permet de réaliser les extractions des sédiments lyophilisés (sédiments sans trace d'eau). 
  Cet appareil est relié à un ordinateur permettant le paramétrage des différentes conditions d’extraction 
  par l’intermédiaire d’un logiciel appelé Chromeleon 7. Lors de l’extraction des sédiments, des cellules 
  d’extraction de 22 mL inerte vis-à-vis des échantillons sont utilisées. Avant tout remplissage, un filtre 
  est placé dans le fond de la cellule. Puis, du sable de fontainebleau ou des billes de verre sont ajoutés à 
  l’intérieur des cellules pour terminer leur remplissage. Le sable ou le verre sont des matrices solides 
  ayant un minimum d’interactions avec les composés à étudier. Avant chaque utilisation des cellules, du 
  sable de Fontainebleau ou des billes de verre, un lavage approfondi de chacun est réalisé à l’aide de 
  l’ASE en utilisant la même méthode d’extraction que celle utilisée ultérieurement pour l’extraction des 
  échantillons. La prise d’essai des échantillons est d’environ 1 g. L’extraction à proprement parlé peut 
  alors être réalisée, les cellules sont placées sur le carrousel supérieur de l’ASE tandis que les flacons 
  qui vont recueillir les extraits sont placés dans le carrousel inférieur de l’ASE. L’azote, de par ses 
  propriétés de gaz inerte chimiquement est utilisé pour augmenter la pression 
  au sein de la cellule et purger l’extrait de la cellule en fin d’extraction. Le nombre de cycles 
  d’extraction optimal est définie lors de l’élaboration de la méthode afin d’extraire un maximum de 
  polluants (HAPs) des sédiments.
</p>
<P>
  Ci dessous, une photo d'un appareil ASE350.
</P>
<div class="text-center">
  <img src="assets/image/ASE.jpg" class="img-fluid" alt="Responsive image"/>
</div>