<header>
    <div class="titre">
      <h1>Production et localisation des HAPs</h1>
    </div>
      
</header>		
<section class="articles">
  <article class="presentation HAP">
      <div class="texte">
        <p>L’origine des HAP dans les différents compartiments (terrestre, aérien et aquatique) est 
          expliquée par les 3 sources de productions suivantes. La première source de production naturelle 
          uniquement est d’origine biogénique ou diagénique, ceci concerne tous les HAP générés par les 
          processus biotiques ou par des stades de diagenèse (l’ensemble des changements biochimiques et 
          physico-chimiques affectant un sédiment après son dépôt) des sédiments marins (par exemple, le 
          pérylène) (Nikolaou et al, 2009). Les deux autres sources de productions qui peuvent être 
          d’origine anthropique ou naturelle concernent la production d’HAP pétrogéniques ou pyrolytiques 
          (Nikolaou et al, 2009). La production d’HAP pétrogéniques est provoquée par les différentes 
          manipulations du pétrole comprenant son raffinement et sa combustion alors que les HAP 
          pyrolytiques sont produits par la combustion des combustibles fossiles (charbon et pétrole) et 
          de matière organique (bois), les HAP pétrogénique formés par combustion du pétrole sont 
          également d’origine pyrolytiques. Les activités humaines comme la production industrielle, 
          le transport et l’incinération des déchets sont des sources importantes d'un certain nombre d’HAP 
          dans l'environnement terrestre, aérien et aqueux.</p>
          <p>Ci dessous, un récapitulatif des différents types de sources des HAPs</p>
        </div>
        <div class="text-center">
          <img src="assets/image/sources des HAP.jpg" class="img-fluid" alt="Responsive image"/>
        </div>
        <div class="texte">
        <p>Les HAP après leurs productions peuvent se retrouver dans différents compartiments. Le premier 
          est le compartiment terrestre dans lequel les HAP s’accumulent dans les sédiments. Le second est 
          le compartiment aquatique, dans ce cas, ils sont véhiculés au travers des différents océans de la 
          Terre par l’intermédiaire du transport dans la colonne d’eau au sein de grands courant marins. 
          Le dernier est le compartiment aérien ou l’atmosphère dans lequel les HAP sont divisés en deux 
          parties selon leur poids moléculaire, les HAP les plus légers (deux ou trois anneaux aromatiques) 
          sont contenues dans la phase gazeuse de l’atmosphère alors que les HAP lourd 
          (quatre cycles aromatiques ou plus) se retrouvent dans la phase particulaire de l’atmosphère 
          (Huang et al, 2012 ; Ravindra et al, 2008 ; Tian et al, 2009). Au sein de l’atmosphère, les HAP 
          sont transportés dans différents endroits du globe selon la direction des courants aériens dans 
          lesquels ils se retrouvent.</p>
      </div>
      <div class="text-center">
        <img src="assets/image/coursdeau.jpg" class="img-fluid" alt="Responsive image"/>
      </div>
  </article>
</section>