<h1>Propriétées physico-chimiques</h1>
<div *ngIf="hap" class="propriétées">
  Nom : {{hap.nom}};<br> Abréviation : {{hap.abreviation}};<br> Nombre de cycles : {{hap.nbrCycles}};<br> 
  Formule chimique : {{hap.formuleChimique}};<br> CAS (Chemical Abstracts Service) : {{hap.cas}};<br>
  Masse Molaire M [g/mol] : {{hap.masseMolaire}};<br> Densité d [g/cm3] : {{hap.densite}};
</div>
<div *ngIf="hap" class="text-center">
  ALERT(hap.photo);
  <img [src] = "'/assets/image/'+hap.photo" class="img-fluid" alt="Responsive image">
</div>

<div *ngIf="selectedHapSuivant!=null">
  <app-suivant [hap]="selectedHapSuivant"></app-suivant>
</div>
<div id="right_holder">
  <a [routerLink]="['/hap/',hap.id+1]" *ngIf="hap.id<15"><img src="assets/image/arrow_right.png" class="right"/></a>
</div>

<div *ngIf="selectedHapPrecedent!=null">
  <app-precedent [hap]="selectedHapPrecedent"></app-precedent>
</div>
<div id="left_holder">
  <a [routerLink]="['/hap/',hap.id-1]" *ngIf="hap.id>0"><img  src="assets/image/arrow_left.png" class="left"/></a>
</div>

