h1 {
    font-size: 35px;
    text-align: center;
    padding: 20 px 0px;
}

.propriétées {
    text-align: center;
    padding: 10px 10px;
}

.text-center {
    padding: 10px;
}

#left_holder{
	width: 100%;
	max-width: 850px;
	height: auto;
	left: 0;
	top: 0;
}

#right_holder{
	width: 100%;
	max-width: 850px;
	height: auto;
	left: 0;
	top: 0;
}

.left{
	height: 50px;
	width: 50px;
	position: absolute;
	top: 45%;
	left: 0px;
}

.right{
	height: 50px;
	width: 50px;
	position: absolute;
	top: 45%;
	right: 0px;
}