<header>
	<div class="titre">
		<h1>Présentation des HAPs</h1>
	</div>
</header>
<section class="articles">
	<article class="presentation HAP">
		<div class="texte">
			<p> Les HAP sont des composés aromatiques polycycliques qui sont depuis longtemps étudiés en raison de leur omniprésence dans
				l’environnement, surtout aquatique et de leur potentiel toxique, génotoxique et cancérogène plus ou moins élevé selon
				l’HAP considéré (Lyons et al, 2004 ; Nikolaou et al, 2009 ; Rocha et al, 2011). En effet, la pollution de l'environnement
				par les HAP est un sujet de grande préoccupation en raison de leur diffusion importante dans l'environnement ainsi que
				de leur caractère lipophile et de leur toxicité pour les organismes aquatiques et les humains (Rocha et al, 2011). Ces
				faits ont alerté les organisations internationales de santé et ont conduit à l'insertion de 16 HAP dans la liste prioritaire
				des contaminants à analyser dans l’environnement de l’agence de la protection de l’environnement aux États-Unis (US EPA).
				En outre, la législation restrictive a été mise en oeuvre par l'Union Européenne (directive 2000/60/CE cadre sur l'eau,
				DCE 2000), et la mobilisation de nombreuses ressources économiques et techniques a été récemment jugée nécessaire pour
				la surveillance de ces polluants dans l'environnement.</p>
			<p> Ci dessous, une représentation d'un noyau aromatique, composant de base de tous les HAPs</p>
		</div>
		<div class="text-center">
			<img src="assets/image/noyau aromatique.png" class="img-fluid" alt="Responsive image"/>
		</div>
	</article>
</section>