<div classclass="container">
  <div class="row">
    <div class="col-sm-12">
      Bienvenue dans le site de présentation et de description des Hydrocarbures aromatiques polycycliques (HAPs). Des molécules
      bien plus présente dans notre vie quotidienne que l'on ne le croit.
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <a routerLink="/projets">projet</a>
      <br>
    </div>
    <div class="col-sm">
      <a routerLink="/presentation">présentation</a>
      <br>
    </div>
    <div class="col-sm">
      <a routerLink="">HAPs</a>
      <br>
    </div>
    <div class="col-sm">
      <a routerLink="/localisation">production et localisation</a>
      <br>
    </div>
    <div class="col-sm">
      <a routerLink="/extraction">extraction des HAPs</a>
      <br>
    </div>
  </div>
</div>