ul {
    text-align: center;
    list-style:none;
}

a {
    color :  #f70a0a;
}

.formulaire {
   text-align: center;
   padding: 10px 0px;
}
.formulaire1 {
    text-align: center;
    padding: 10px 0px;
}

.bouton {
    text-align: center;
    padding: 10px 0px;
}

p {
    text-align: center;
}