<!--<ul *ngFor="let e of haps">
  <li>{{e.nom|uppercase}} {{e.abreviation}}</li>
</ul>
<input [(ngModel)]="hap.nom"/>
<button (click)="addHap()">ajout d'un HAP</button><br>
<input [(ngModel)]="hap.abreviation"/>
<button (click)="addHap()">abréviation de l'HAP</button>-->
<p>
  Voici la liste des HAPs, vous pouvez voir le détail de chacun des HAP en cliquant sur "voir" au niveau de chacun
  des Haps.
</p>
<div *ngIf="selectedHap!=null">
  <app-hap-detail [hap]="selectedHap"></app-hap-detail>
</div>
<ul *ngFor="let r of liste">
  <li>{{r.nom|uppercase}} {{r.abreviation}}
    <a [routerLink]="['/hap',r.id]"> voir</a>
  </li>
  <button (click)="editHap(r.id)">modifier un HAP</button>
  <button (click)="select(r)">detail</button>
</ul>
<div class="formulaire">
  <p><label for="hapNom">hapNom :</label></p>
  <input id="hapNom" [(ngModel)]="hap.nom"/>
</div>
<div class="formulaire1">
  <p><label for="hapAbreviation">hapAbreviation :</label></p>
  <input id="hapAbreviation" [(ngModel)]="hap.abreviation"/>
</div>
<div class="bouton">
  <button (click)="addHap()" *ngIf="!edit">ajouter</button>
  <button (click)="editOver()" *ngIf="edit">soumettre</button>
</div>